<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
<div id="main-content" class="container individual-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"><%= current_user.full_name %>'s Annual Report - <%= "#{@report.clean_start_date} - #{@report.clean_end_date}" %> </h3>
    </div>
  </div>

  <div class="row" style="padding-top:20px;">
    <div class="col-xs-12">
      <h2>Monday</h2>
      <ul>
        <% @monday.each do |t| %>
          <li><%= "#{t.name} - #{t.description}" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row" style="padding-top:20px;">
    <div class="col-xs-12">
      <h2>Tuesday</h2>
      <ul>
        <% @tuesday.each do |t| %>
          <li><%= "#{t.name} - #{t.description}" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row" style="padding-top:20px;">
    <div class="col-xs-12">
      <h2>Wednesday</h2>
      <ul>
        <% @wednesday.each do |t| %>
          <li><%= "#{t.name} - #{t.description}" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row" style="padding-top:20px;">
    <div class="col-xs-12">
      <h2>Thursday</h2>
      <ul>
        <% @thursday.each do |t| %>
          <li><%= "#{t.name} - #{t.description}" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row" style="padding-top:20px;">
    <div class="col-xs-12">
      <h2>Friday</h2>
      <ul>
        <% @friday.each do |t| %>
          <li><%= "#{t.name} - #{t.description}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
